<template>
    <b-container fluid>
        <div class="m-5 p-5 bg-light">
            <h1>Oh no! 😱</h1>

            <b-nav tabs fill>
                <b-nav-item to="/">Asset classification</b-nav-item>
                <b-nav-item to="/threatModeling">Threat modeling</b-nav-item>
                <b-nav-item to="/threatlib">Threat library</b-nav-item>
            </b-nav>
            <p />

            <router-view></router-view>
        </div>
    </b-container>
</template>

<script lang="ts">
import Vue from 'vue'
import store from "./store";
import * as service from "./service";

export default Vue.extend({
    data() {
        return { store };
    },
    created() {
        service.getScales();
        service.getAssets();
        service.getThreats();
    }
})
</script>