<template>
    <div>
        <h3>Asset classification</h3>
        <b-button variant="primary" @click="createAsset">Add new asset</b-button>
        <p />

        <AssetEditor ref="assetEditor" :asset="editedAsset" />

        <b-table light hover :items="store.assets" @row-dblclicked="editAsset" sort-by="assessedRisk" sort-desc
         :fields="[
            { key: 'actions' },
            { key: 'name', sortable: true },
            { key: 'type', sortable: true },
            { key: 'businessImportance', sortable: true, formatter: this.scaleValueFormatter },
            { key: 'dataCategory', sortable: true, formatter: this.scaleValueFormatter },
            { key: 'assetRating', sortable: true },
            { key: 'assessedRisk', sortable: true }]">
            <template #cell(actions)="row">
                <b-button @click="row.toggleDetails">🔎</b-button>
            </template>
            <template #row-details="row">
                <h6>Threats</h6>
                <b-table light hover :items="row.item.assetThreats" sort-by="threat" :fields="[
                    { key: 'threat', sortable: true, formatter: (t => t.name )},
                    { key: 'dreadRating' },
                    { key: 'mitigated' }
                ]">
                    <template #cell(mitigated)="assetThreatRow">
                        <b-checkbox v-model="assetThreatRow.item.mitigated"
                         @input="changeMitigated(assetThreatRow.item, row.item)" />
                    </template>
                </b-table>
            </template>
        </b-table>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import AssetEditor from "../components/AssetEditor.vue";

import store from "../store";
import * as service from "../service";
import ScaleValue from '../../common/ScaleValue';
import Asset from '../../common/Asset';
import AssetThreat from '../../common/AssetThreat';
import { updateAssetRating } from '../../common/ratings';

export default Vue.extend({
    components: {
        AssetEditor
    },
    data() {
        return {
            store,
            editedAsset: undefined as any
        };
    },
    methods: {
        scaleValueFormatter(value: ScaleValue) {
            return value?.name;
        },
        createAsset() {
            this.editedAsset = undefined;
            (this.$refs["assetEditor"] as any).show();
        },
        editAsset(item: Asset, index: number, event: Event) {
            this.editedAsset = item;
            (this.$refs["assetEditor"] as any).show();
        },
        changeMitigated(assetThreat: AssetThreat, asset: Asset) {
            updateAssetRating(asset);
            service.saveAsset(asset);
        }
    }
});
</script>