<template>
    <div>
        <h3>Threat modeling</h3>
        <p />

        <b-dropdown :text="this.asset ? this.asset.name : 'Playground'" variant="primary">
            <b-dropdown-item @click="loadAsset()">Playground</b-dropdown-item>
            <b-dropdown-divider />
            <b-dropdown-item v-for="asset in store.assets" :key="asset.id" @click="loadAsset(asset)">
                {{ asset.name }}
            </b-dropdown-item>
        </b-dropdown>

        <b-button variant="primary" :disabled="!this.asset" @click="save()">Save</b-button>
        <p />

        <b-row>
            <b-col>
                <b-textarea rows="25" @change="updateGraph" v-model="text" />
            </b-col>
            <b-col>
                <div id="mermaidHolder" v-html="svg" />
            </b-col>
        </b-row>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';

import store from "../store";
import * as service from "../service";
import mermaid from 'mermaid';
import Asset from '../../common/Asset';

export default Vue.extend({
    data() {
        return {
            store,
            text: "",
            svg: "Start editing to refresh!",
            asset: undefined as Asset | undefined
        };
    },
    mounted() {
        mermaid.mermaidAPI.initialize({});
        this.loadAsset();
    },
    methods: {
        updateGraph() {
            mermaid.mermaidAPI.render("mermaidSvg", this.text, (svg, bindFunctions) => this.svg = svg,
                // Setting the container is optional, but lets mermaid figure out the right fonts to avoid clipping
                document.querySelector("#mermaidHolder") as any);
        },
        loadAsset(asset?: Asset) {
            const defaultText = "graph TD\n    goal[This is what I want] --> foo[This is how I'll do it]";

            this.asset = asset;
            this.text = asset?.attackTree || defaultText;
            this.updateGraph();
        },
        save() {
            this.asset!.attackTree = this.text;
            service.saveAsset(this.asset!);
        }
    }
});
</script>