<template>
    <div>
        <h3>Threat library</h3>
        <b-button variant="primary" @click="createThreat">Add new threat</b-button>
        <p />

        <ThreatEditor ref="threatEditor" :threat="editedThreat" />

        <b-table light hover :items="store.threats" @row-dblclicked="editThreat" sort-by="dreadRating" sort-desc
         :fields="[
            { key: 'name', sortable: true },
            { key: 'damage', sortable: true, formatter: this.scaleValueFormatter},
            { key: 'reproducibility', sortable: true, formatter: this.scaleValueFormatter},
            { key: 'exploitability', sortable: true, formatter: this.scaleValueFormatter},
            { key: 'affectedUsers', sortable: true, formatter: this.scaleValueFormatter},
            { key: 'exploitability', sortable: true, formatter: this.scaleValueFormatter},
            { key: 'discoverability', sortable: true, formatter: this.scaleValueFormatter},
            { key: 'dreadRating', sortable: true }]" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import ThreatEditor from "../components/ThreatEditor.vue";

import store from "../store";
import * as service from "../service";
import ScaleValue from '../../common/ScaleValue';
import Threat from '../../common/Threat';

export default Vue.extend({
    components: {
        ThreatEditor
    },
    data() {
        return {
            store,
            editedThreat: undefined as any
        };
    },
    methods: {
        createThreat() {
            this.editedThreat = undefined;
            (this.$refs["threatEditor"] as any).show();
        },
        editThreat(item: Threat, index: number, event: Event) {
            this.editedThreat = item;
            (this.$refs["threatEditor"] as any).show();
        },
        scaleValueFormatter(value: ScaleValue) {
            return value?.name;
        }
    }
});
</script>