<template>
    <b-modal @show="onShow" v-model="visible" id="saveAssetModal" :title="title" hide-footer>
        <b-form @submit="saveAsset">
            <b-form-group label="Asset name">
                <b-form-input v-model="editedAsset.name" placeholder="Enter name" required />
            </b-form-group>

            <b-form-group label="Type">
                <b-form-select v-model="editedAsset.type" :options="AssetType" required />
            </b-form-group>

            <b-form-group v-for="scale in scales" :key="scale.id" :label="scale.name">
                <b-form-select v-model="selectedValues[scale.field]"
                 :options="getScaleValuesForSelect(scale.name)" required />
            </b-form-group>

            <ThreatTags :asset="editedAsset" />

            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button v-if="asset" variant="danger" @click="deleteAsset">Delete</b-button>
        </b-form>
    </b-modal>
</template>

<script lang="ts">
import Vue from "vue";
import Asset from "../../common/Asset";
import { AssetType } from "../../common/AssetType";
import * as service from "../service";
import ScaleValue from "../../common/ScaleValue";
import { getScaleValuesForSelect, getScaleValue } from "../util";
import Threat from "../../common/Threat";
import ThreatTags from "./ThreatTags.vue";

export default Vue.extend({
    components: {
        ThreatTags
    },
    props: {
        asset: Asset
    },
    data() {
        return {
            AssetType,
            visible: false,
            title: "",
            editedAsset: new Asset("", AssetType.Component),
            scales: [
                {
                    name: "Business importance",
                    field: "businessImportance"
                },
                {
                    name: "Data category",
                    field: "dataCategory"
                }
            ],
            selectedValues: {} as any
        }
    },
    methods: {
        saveAsset(event: Event) {
            event.preventDefault();
            this.scales.forEach(s => // Map IDs back to scaleValue object - TODO optimise this away and just send IDs?
                (this.editedAsset as any)[s.field] = getScaleValue(s.name, (this.selectedValues as any)[s.field]));

            service.saveAsset(this.editedAsset)
                .then(() => {
                    this.visible = false;
                    service.getAssets();
                });
        },
        deleteAsset() {
            if (confirm("Are you sure?")) {
                service.deleteAsset(this.editedAsset)
                    .then(() => {
                        this.visible = false;
                        service.getAssets();
                    });
            }
        },
        onShow() {
            if (this.asset) {
                this.editedAsset = JSON.parse(JSON.stringify(this.asset));
                this.title = `Editing ${this.asset.name}`;
            } else {
                this.editedAsset = new Asset("", AssetType.Component);
                this.title = "Add new asset";
            }

            this.selectedValues = {};
            this.scales.forEach(s => this.selectedValues[s.field] = (this.editedAsset as any)[s.field]?.id);
        },
        show() {
            this.visible = true;
        },
        getScaleValuesForSelect
    }
});
</script>