<template>
    <b-modal @show="onShow" v-model="visible" id="saveThreatModal" :title="title" hide-footer>
        <b-form @submit="saveThreat">
            <b-form-group label="Threat name">
                <b-form-input v-model="editedThreat.name" placeholder="Enter name" required />
            </b-form-group>

            <b-form-group v-for="scale in scales" :key="scale.id" :label="scale.name">
                <b-form-select v-model="selectedValues[scale.field]"
                 :options="getScaleValuesForSelect(scale.name)" required />
            </b-form-group>

            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button v-if="threat" variant="danger" @click="deleteThreat">Delete</b-button>
        </b-form>
    </b-modal>
</template>

<script lang="ts">
import Vue from "vue";
import * as service from "../service";
import ScaleValue from "../../common/ScaleValue";
import Threat from "../../common/Threat";
import { getScaleValuesForSelect, getScaleValue } from "../util";

export default Vue.extend({
    props: {
        threat: Threat
    },
    data() {
        return {
            visible: false,
            editedThreat: new Threat(""),
            title: "",
            selectedValues: {} as any,
            scales: [
                {
                    name: "Damage",
                    field: "damage"
                },
                {
                    name: "Reproducibility",
                    field: "reproducibility"
                },
                {
                    name: "Exploitability",
                    field: "exploitability"
                },
                {
                    name: "Affected users",
                    field: "affectedUsers"
                },
                {
                    name: "Discoverability",
                    field: "discoverability"
                }
            ],
        }
    },
    methods: {
        saveThreat(event: Event) {
            event.preventDefault();
            this.scales.forEach(s => // Map IDs back to scaleValue object - TODO optimise this away and just send IDs?
                (this.editedThreat as any)[s.field] = getScaleValue(s.name, (this.selectedValues as any)[s.field]));
            service.saveThreat(this.editedThreat)
                .then(() => {
                    this.visible = false;
                    service.getThreats();
                });
        },
        deleteThreat() {
            if (confirm("Are you sure?")) {
                service.deleteThreat(this.editedThreat)
                    .then(() => {
                        this.visible = false;
                        service.getThreats();
                    });
            }
        },
        onShow() {
             if (this.threat) {
                this.editedThreat = JSON.parse(JSON.stringify(this.threat));
                this.title = `Editing ${this.threat.name}`; 
            } else {
                this.editedThreat = new Threat("");
                this.title = "Add new threat";
            }

            this.selectedValues = {};
            this.scales.forEach(s => this.selectedValues[s.field] = (this.editedThreat as any)[s.field]?.id);
        },
        show() {
            this.visible = true;
        },
        getScaleValuesForSelect
    }
});
</script>