<template>
    <b-form-group label="Threats">
        <b-form-tags add-on-change v-model="values">
            <template v-slot="{ tags, addTag, removeTag }">
                <ul v-if="tags.length > 0" class="list-inline d-inline-block mb-2">
                    <li v-for="tag in tags" :key="tag" class="list-inline-item">
                        <!-- This silly thing cannot operate on object, only strings, so we only use threat names -->
                        <b-form-tag @remove="removeThreat(tag, removeTag)" :title="tag" variant="info">
                            {{ tag }}
                        </b-form-tag>
                    </li>
                </ul>

                <b-dropdown size="sm" variant="outline-secondary" block menu-class="w-100">
                    <template v-slot:button-content>Choose threats</template>
                    <b-dropdown-form @submit.stop.prevent="() => {}">
                        <b-form-group label="Search threats" label-cols-md="auto" class="mb-0" label-size="sm">
                            <b-form-input v-model="query" type="search" size="sm" autocomplete="off" />
                        </b-form-group>
                    </b-dropdown-form>
                    <b-dropdown-divider />
                    <b-dropdown-item-button v-for="threat in availableThreats" :key="threat.id"
                        @click="addThreat(threat, addTag)">
                        {{ threat.name }}
                    </b-dropdown-item-button>
                    <b-dropdown-text v-if="availableThreats.length == 0">
                        No threats available
                    </b-dropdown-text>
                </b-dropdown>
            </template>
        </b-form-tags>
    </b-form-group>
</template>

<script lang="ts">
import Vue from "vue";
import Asset from "../../common/Asset";
import Threat from "../../common/Threat";
import store from "../store";
import AssetThreat from "../../common/AssetThreat";

export default Vue.extend({
    props: {
        asset: Asset,
    },
    data() {
        return {
            store: store,
            query: "",
            values: [] as string[]
        };
    },
    computed: {
        availableThreats(): any[] {
            return this.store.threats
                .filter(t => this.values.indexOf(t.name) == -1) // Remove threats we already picked
                .filter(t => t.name.toLowerCase().indexOf(this.query.toLowerCase()) != -1) // Apply search query
        }
    },
    methods: {
        addThreat(threat: Threat, addTag: Function) {
            this.query = "";
            this.asset.assetThreats.push(new AssetThreat(threat));
            addTag(threat.name);
        },
        removeThreat(name: string, removeTag: Function) {
            const index = this.asset.assetThreats.findIndex(t => t.threat.name == name);
            this.asset.assetThreats.splice(index, 1);
            removeTag(name);
        }
    },
    created() {
        this.values = this.asset.assetThreats.map(t => t.threat.name);
    }
});
</script>